.navbar{
    width: 100%;
    padding: 15px 35px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.15fr;
    gap: 1rem;
}
.logo{
    font-size: clamp(0.875rem, -0.9963rem + 2.924vw, 1.5rem);
    font-weight: 600;
    font-family: serif;
    color: var(--accent-color-1);
    align-content: center;
}
.menu-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0rem 1rem;
}
.menu-li{
    list-style: none;
    color: var(--accent-color-1);
    font-size: clamp(0.625rem, 0.3039rem + 0.6689vw, 0.875rem);
    font-weight: 700;
    font-family: "Inter";
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.menu-li:hover{
    border-bottom: 2px solid var(--accent-color-2);
}
.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.actions img{
    cursor: pointer;
    height: 25px;
    aspect-ratio: 2;
}
.hamburger{
    height: 25px;
    aspect-ratio: 1;
}
@media (min-width: 1023px){
    .hamburger{
        display: none;
    }
}
@media(max-width: 1023px){
    .navbar{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    .logo{
        white-space: nowrap;
        text-align: center;
        font-size: 24px;
    }
    .menu-ul{
        display: none;
    }
    .customer{
        display: none;
    }
}