@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --c1: #0F2C2F;
  --c2: #F8F6F3;
  --c3: #FFFFFF;
  --c4: #A8A39A;
  --c5: #6B6B6B;
  --c6: #C19A6B;
  --c7: #4A4A4A;
  --c8: #E5E5E5;
  --announcement: #3f536a;
  --accent-color-1: #665640;
  --accent-color-2: #413e3a;
  --add-to-cart-button-color: #786554;
  --sale-badge-color: #413e3a;
  --sale-strike-through-color: #786554;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 100vw;
  background-color: var(--c2);
}
.b1px{
  border: 1px solid black;
}